*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
li {
  list-style: none;
}

body {
  min-height: 100vh;
  position: relative;
}

input,
textarea,
button,
select {
  font: inherit;
  border: inherit;
  background-color: inherit;
  color: inherit;
}

:root {
  --primary: #6b9080;
  --secondary: #a4c3b2;
  --accent: #cce3de;
  --background: #f6fff8;
  --foreground: #eaf4f4;
  --high: #ce5858;
  color: var(--primary);
  background-color: var(--background);
  border-color: var(--secondary);
  font-family: "Inter", sans-serif;
}

div#content {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 7vh 1fr;
  min-height: 100vh;
}

header {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: var(--primary);
  color: var(--background);
  padding: 15px;
  font-size: clamp(10px, 5vw, 30px);
}

nav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--foreground);
  padding: 15px;
}

nav > ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 5px;
  grid-auto-rows: 50px;
  gap: 10px;
}

ul > li {
  display: grid;
  grid-template-columns: 1fr;
}

button.nav-btn {
  background-color: var(--secondary);
  color: var(--background);
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s;
}
div.spacer {
  background-color: var(--primary);
  border-radius: 5px;
}

button.nav-btn:hover {
  transform: scale(1.02);
  background-color: var(--primary);
}

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 15px;
}

.main > ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 50px;
  gap: 10px;
}

.item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  background-color: var(--accent);
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}

.item:hover,
.item:focus {
  transform: scale(1.02);
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--foreground);
  color: var(--primary);
  padding: 15px;
  border-radius: 10px;
  border: 2px solid var(--secondary);
}

dialog > div > form {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 50px 1fr 50px 50px;
  align-items: start;
  justify-items: center;
}

select,
input,
textarea {
  background-color: var(--background);
  border-radius: 5px;
  border: 2px solid var(--secondary);
  padding: 2px;
}

button#save-btn {
  background-color: var(--secondary);
  color: var(--background);
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s;
  grid-row: 5/6;
  grid-column: 1/3;
  width: 50%;
}

button#save-btn:hover {
  transform: scale(1.02);
  background-color: var(--primary);
}

#title {
  height: 100%;
  width: 100%;
  font-size: 20px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#due-label {
  width: 50%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#project-label {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#notes {
  width: 100%;
  grid-column: 1/ 3;
  grid-row: 3/4;
  resize: none;
}

#priority {
  grid-column: 1/3;
  grid-row: 4/5;
}

*::placeholder {
  color: var(--secondary);
  opacity: 0.7;
}

.priority-high {
  background-color: var(--high);
  color: var(--background);
}
